# Application
NODE_ENV=production
LOG_LEVEL=info
LOG_PRETTY=false
SERVICE_PORT=3000

# Prometheus Metrics
PROMETHEUS_ENABLED=true
PROMETHEUS_METRICS_SECRET=
PROMETHEUS_METRICS_PATH=/metrics

# OpenTelemetry
OTEL_ENABLED=true
OTEL_SERVICE_NAME=bun-webhook-service
OTEL_RUNTIME=bun
OTEL_ENDPOINT=

# Flowcore Configuration
FLOWCORE_WEBHOOK_BASEURL=
FLOWCORE_TENANT=
FLOWCORE_DATA_CORE=
FLOWCORE_TRANSFORMER_SECRET=
FLOWCORE_WEBHOOK_API_KEY=

# Flowcore Authentication
FLOWCORE_JWKS_URL=
FLOWCORE_IAM_URL=
FLOWCORE_API_KEY_URL=

# Database
POSTGRES_CONNECTION_STRING=
POSTGRES_LOG_QUERY=false
